body {
    background-color: bisque;
    margin: 0 10%;
    font-family: sans-serif;
     }
h1 {
    text-align: center;
    font-family: sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    border-bottom: 1px solid hsl(355, 67%, 63%);
    margin-top: 30px;
    }
h2 {
    color: #a85b3f;
    font-size: 1em;
    }
    